@model IEnumerable<TodoList.Models.TodoTask>

@{
    ViewData["Title"] = "Todo Tasks";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Finished)
            </th>
            <th>
                <span>Options</span>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td class="text-center">
                <div data-task-id="@item.Id">
                    @if (item.Finished)
                        {
                            <input type="checkbox" class="mark-as-completed" checked />
                        }
                        else
                        {
                            <input type="checkbox" class="mark-as-completed" />
                        }
                </div>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="\lib\jquery\dist\jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".mark-as-completed").change(function () {
            var isChecked = $(this).is(":checked");
            var taskId = $(this).closest("div").data("task-id");
            markTaskAsCompleted(taskId, isChecked)
        })

        function markTaskAsCompleted(taskId, isChecked) {
            $.ajax({
                type: "POST",
                url: "TodoTask/UpdateTodoTaskStatus",
                data: { taskId: taskId, isChecked: isChecked },
                success: function(response) {
                    alert(response.message)
                },
                error : function(error) {
                    alert("An error ocurred!")
                }
            })
        }
    })
</script>
